



p {
	color:red;
}
.heading{
	font-family: 'Open Sans', san-serif;
	font-size: 17px; 
}
.heading {
	width: 600px;
	margin:0 auto;
	background-color: #FF9500;
	border: 3px solid black;
}
.heading img{
	width: 600px;
}






































































